*{
    margin: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(white,black);
    background-position: center;
    background-size: cover;
    position: absolute; 
}
.form-box{

    width: 380px;
    height: 280px;
    position: relative;
    margin: 6% auto;
    background-image: linear-gradient(white,yellow);
    padding: 5px;
}
.input-field{
    width: 90%;
    padding: 10px 0;
    margin: 5px 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 30px ;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 20px;
}
.st{
    position: relative;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 1400px ;
    margin-top: 5px;
    margin-bottom: 5px;;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 20px;
}
.head{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    }
.h1{
    text-align: center;
}